body {
     background-color: rgb(44, 36, 36);
}




#head-container {
     margin: 0 auto;
     text-align: center;
     color: white;
}


#task-box {
     outline: none;
     color: white;
     text-align: left;
     font-size: 1.5rem;
     width: 450px;
     padding: 6px 12px;
     border-radius: 10px;
     background-color: rgba(161, 129, 129, 0.5);
     border: none;
}

#task-box::placeholder {
     text-align: left;
     color: rgb(31, 26, 26);
}

#submit-btn {
     margin: 0 auto;
     font-weight: bolder;
     font-size: 1.5rem;
     background: transparent;
     border: none;
     cursor: pointer;
     background-image: linear-gradient(to right, rgb(101, 235, 12) , rgb(202, 23, 23) );
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     transition: all 0.3s;
}

#submit-btn:hover {
     transform: scale(1.2);
     background-image: linear-gradient(to right, rgb(37, 21, 131) , rgb(136, 109, 109) );

}

#submit-btn:active {
      background-image: linear-gradient(to right, rgb(231, 240, 226) , rgb(243, 223, 223) );
}

#logs {
     margin-top: 50px;
     text-align: center;
}

#logs h2 {
     color: white;
}

#task {
     margin: 15px auto;
     border-radius: 10px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: max-content;
    
     background-color: rgb(22, 26, 25);
     transition: all 0.4s;
     
}

#task:hover {
     transform: scale(1.1);
}

#task > * {
     margin-right: 10px;
     margin-left: 10px;
}

#edit, #delete, #done, #undone {
     color: rgb(101, 111, 194);
     font-size: 1rem;
     background: transparent;
     border: none;
     cursor:pointer;
}

#edit:active, #delete:active, #done:active {
     color: rgb(210, 207, 238);
     transition: all 0.2s;
}

#main-task {
     outline: none;
     color: white;
     background-color: transparent;
     border: none;
     font-size: 1.2rem;
     min-height: 50px;
     min-width: max-content;
}

#main-task:not(:read-only) {
     color: gray;
}

.done-text {
     /* text-decoration: line-through; */
     animation: done 0.5s forwards;
}

@keyframes done {
     to {
          text-decoration: line-through;
     }
}





#report {
     text-align: center;
     font-size: 1.2rem;
     font-weight: bolder;
     color: white;
}